body,html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

a {
    color: black !important;
    text-decoration: none;
}

.icons-menu {
    display: flex;
    align-items: center;
}

.btn-without-style {
    all: unset;
}
.profile {
    font-size: 15px;
    font-weight: 700;
}

.logo {
    font-size: 3em;
}

.home {
    height: 100vh;
    background:lightseagreen;
    margin-top: -3em;
}
.rest {
    background: white;
}
