body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    background: url('../images/kitchen.jpg') center no-repeat;
    background-size: cover;
}

a {
    color: black !important;
    text-decoration: none;
}

.icons-menu {
    display: flex;
    align-items: center;
}

.btn-without-style {
    all: unset;
}
.profile {
    font-size: 15px;
    font-weight: 700;
}

